<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
 </div>
<div class="product-detail" [class.active] = "showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggelProductDetail()" class="btn btn-outline-primary btn-sm"><i class="far fa-eye"></i>Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
      <img [src]="img" alt="">
      </ng-template>
    </swiper>
    <p>{{productChosen.description}}</p>
    <button (click)="updateProduct()" class="btn btn-outline-warning btn-sm" style="margin: 10px"><i class="far fa-edit"></i>Edit</button>
    <button (click)="deleteProduct()" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i>Delete</button>
  </div>
</div>


